$headerColor: #032541;
$primaryColor: #01b4e4;

* {
    box-sizing: inherit;
}
/* .main {
    overflow: hidden;
} */
html {
    font-size: 62.5%;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    line-height: 1.6rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc; 
  }
  
  
.full-height {
    height: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none !important;
   
}
ul {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}
body {
    margin: 0;
    
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes runDown {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(7%);
    }
}