.home {
    margin-top: 65px;
    padding-top: 30px;
}
.home-filter {
    padding: 12px;
}
.home-filter-heading {
    font-size: 3rem;
}
.home-filter-sort {

}
.home-filter-sort-heading {

}
.home-filter-sort-arrow {

}
.home-filter-sort-slide {

}
.home-filter-sort-slide-des {

}