<footer class='footer'>
    <div class='block-dark'>
        <div class='background-img-container-up'>
            <!-- <img src="https://keenthemes.com/images/curve-dark-top-bg.png?ced1283afc4fceaeb510cca0ab234b95" alt="" class="background-img-up"> -->
        </div>
        <div class='footer-row'>

            <div class='grid wide'>
                <div class='row'>
                    <div class='col l-3 m-3 c-6'>
                        <div class='footer-column'>
                            <h3 class='footer-heading'>

                                Products
                            </h3>
                            <div class='footer-list'>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Pro Templates</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Free Templates</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Pro Graphics</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Free Graphics</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Metronic</a>
                            </div>
                        </div>
                    </div>
                    <div class='col l-3 m-3 c-6'>
                        <div class='footer-column'>
                            <h3 class='footer-heading'>

                                Learn
                            </h3>
                            <div class='footer-list'>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >All Tutorials</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Metronic Tutorials</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Keen Tutorials</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Blog & News</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Hire Experts</a>
                            </div>
                        </div>
                    </div>
                    <div class='col l-3 m-3 c-6'>
                        <div class='footer-column'>
                            <h3 class='footer-heading'>

                                Resources
                            </h3>
                            <div class='footer-list'>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                > FAQs</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >License Terms</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Support</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Contact Us</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Affiliate Program</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Privacy Policy</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Terms & Conditions</a>
                                <a
                                    href=''
                                    class='footer-item-link text-bland-color'
                                >Refund Policy</a>

                            </div>
                        </div>
                    </div>
                    <div class='col l-3 m-3 c-6'>
                        <div class='footer-column'>
                            <h3 class='footer-heading'>

                                Stay Connected
                            </h3>
                            <div class='footer-list'>
                                <a
                                    href=''
                                    class='footer-item-link footer-item-img-container text-bland-color'
                                >
                                    <img
                                        src='https://keenthemes.com/images/social-icons/facebook.svg'
                                        alt=''
                                        class='footer-item-img'
                                    />
                                    Facebook
                                </a>
                                <a
                                    href=''
                                    class='footer-item-link footer-item-img-container text-bland-color'
                                >
                                    <img
                                        src='https://keenthemes.com/images/social-icons/twitter.svg'
                                        alt=''
                                        class='footer-item-img'
                                    />

                                    Twitter

                                </a>
                                <a
                                    href=''
                                    class='footer-item-link footer-item-img-container text-bland-color'
                                >
                                    <img
                                        src='https://keenthemes.com/images/social-icons/dribbble.svg'
                                        alt=''
                                        class='footer-item-img'
                                    />

                                    Dribbble

                                </a>
                                <a
                                    href=''
                                    class='footer-item-link footer-item-img-container text-bland-color'
                                >
                                    <img
                                        src='https://keenthemes.com/images/social-icons/instagram.svg'
                                        alt=''
                                        class='footer-item-img'
                                    />

                                    Instagram

                                </a>
                                <a
                                    href=''
                                    class='footer-item-link footer-item-img-container text-bland-color'
                                >
                                    <img
                                        src='https://keenthemes.com/images/social-icons/github.svg'
                                        alt=''
                                        class='footer-item-img'
                                    />
                                    Github
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='footer-ended'>
            <div class='footer-first'>
                <a href='#' class='footer-first-logo-link'>
                    <img
                        src='https://keenthemes.com/images/logos/logo-white.svg'
                        alt=''
                        class='footer-first-logo'
                    />
                </a>
                <span class='footer-first-pg'>

                    © 2021 Keenthemes Inc.
                </span>
            </div>
            <div class='footer-second'>
                <div class='footer-second-pg'>
                    Secured Payment by
                    <a href='#' class='footer-second-pg-link'>2Checkout</a>
                    with:
                </div>
                <div class='footer-second-img-container'>
                    <img
                        src='https://keenthemes.com/images/payment-methods/light/paypal.svg'
                        alt=''
                        class='footer-second-img'
                    />
                    <img
                        src='https://keenthemes.com/images/payment-methods/light/visa.svg'
                        alt=''
                        class='footer-second-img'
                    />
                    <img
                        src='https://keenthemes.com/images/payment-methods/light/mastercard.svg'
                        alt=''
                        class='footer-second-img'
                    />
                    <img
                        src='https://keenthemes.com/images/payment-methods/light/americanexpress.svg'
                        alt=''
                        class='footer-second-img'
                    />

                </div>
            </div>
        </div>
    </div>
</footer>