<div class="header">
<div class="container-fluid">
    <div class="header-wrap">
        <div class="header-left">
            <div class="header-menu-btn">
                <i class="fas fa-bars"></i>
            </div>
            <a href="/" class="header-logo-link">
            <img src="/img/logo.svg" alt="" class="header-logo-img">
            </a>
            <div class="header-menu">
                <ul class="header-menu-list">
                    <li class="header-menu-item">
                        <a href="" class="header-menu-link">Movies</a>
                        <ul class="header-sub-menu-list">
                            <li class="header-sub-menu-item">
                                <a href="" class="header-sub-menu-link">Popular</a>
                            </li>
                            <li class="header-sub-menu-item">
                                <a href="" class="header-sub-menu-link">Now Playing</a>
                            </li>
                            <li class="header-sub-menu-item">
                                <a href="" class="header-sub-menu-link">Upcoming</a>
                            </li>
                            <li class="header-sub-menu-item">
                                <a href="" class="header-sub-menu-link">Top rated</a>
                            </li>
                        </ul>
                        </li>
                    <li class="header-menu-item">
                        <a href="" class="header-menu-link">Tv show</a>
                        <ul class="header-sub-menu-list">
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Popular</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Airing today</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">On Tv</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Top rated</a>
                        </li>
                        </ul>
                    </li>
                <li class="header-menu-item">
                    <a href="" class="header-menu-link">People</a>
                     <ul class="header-sub-menu-list">
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Popular People</a>
                        </li>
                        
                    </ul>
                </li>
                <li class="header-menu-item">
                    <a href="" class="header-menu-link">More</a>
                    <ul class="header-sub-menu-list">
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Discussion</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Leader Board</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">Support</a>
                        </li>
                        <li class="header-sub-menu-item">
                            <a href="" class="header-sub-menu-link">API</a>
                        </li>
                    </ul>
                </li>
                </ul>
                <div class="nav-overlay" ></div>
        </div>
    </div>
    <div class="header-center">
         <div class="header-center-link search">
                    <i class="fas fa-search search-icon"></i>
                    <input type="text" class="header-center-search" placeholder="Search for a movie...">
                </div>
    </div>
    <div class="header-right">
        <ul class="header-right-list">
            <li class="header-right-item">
                <a href="#" class="header-right-link">
                    <i class="fas fa-plus"></i>
                </a>
                 
            </li>
            <li class="header-right-item ">
                <a href="#" class="header-right-link language">VI</a>
            </li>
            <li class="header-right-item">
                <a href="#" class="header-right-link">
                    <i class="fas fa-bell"></i>
                </a>
            </li>
            <li class="header-right-item account-btn">
                <a href="#" class="header-right-link account">N</a>
                <ul class="header-right-sub-menu-list">
                        <li class="header-right-sub-menu-item">
                           <img src="/img/avatar.jpg" alt="" class="header-right-sub-menu-item-avatar">
                           <span class="header-right-sub-menu-item-name">Ngọc Nguyễn</span>
                        </li>
                        <li class="header-right-sub-menu-item">
                            <a href="" class="header-right-sub-menu-link">Thảo luận </a>
                            <a href="" class="header-right-sub-menu-link">Danh sách </a>
                            <a href="" class="header-right-sub-menu-link">Xếp hạng </a>
                        </li>
                        <li class="header-right-sub-menu-item">
                            <a href="" class="header-right-sub-menu-link">Chỉnh sửa hồ sơ </a>
                            <a href="" class="header-right-sub-menu-link">Cài đặt </a>
                      
                        </li>
                         <li class="header-right-sub-menu-item">
                            <a href="" class="header-right-sub-menu-link">Đăng xuất </a>
                            
                      
                        </li>
                       
                </ul>
            </li>
           
        </ul>
        <div class="header-right-search-btn">
             <i class="fas fa-search search-icon"></i>
        </div>
    </div>
    </div>
  
</div>
</div>