<div class='mt-4 container'>
    <div class='col-sm-12 col-lg-12'>
        <h1>{{data.title}}</h1>
        <iframe
            width='934'
            height='506'
            src='https://www.youtube.com/embed/wG45WkM5rd8?list=PLodO7Gi1F7R1GMefX_44suLAaXnaNYMyC'
            title='YouTube video player'
            frameborder='0'
            allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
            allowfullscreen
        ></iframe>
        <p>{{data.description}}</p>
    </div>
</div>